/ {
	soc {
		/delete-node/ enet@402d8000;

		enet: ethernet@402d8000 {
			compatible = "nxp,kinetis-ethernet";
			reg = <0x402D8000 0x628>;
			interrupts = <114 0>;
			interrupt-names = "COMMON";
			status = "disabled";
			phy-addr = <0>;
			ptp: ptp {
				compatible = "nxp,kinetis-ptp";
				status = "disabled";
				interrupts = <115 0>;
				interrupt-names = "IEEE1588_TMR";
			};
		};
	};
};

&enet {
	status = "okay";
	pinctrl-0 = <&pinmux_enet>;
	pinctrl-names = "default";
	int-gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
	ptp {
		status = "okay";
		pinctrl-0 = <&pinmux_ptp>;
		pinctrl-names = "default";
	};
};

&pinctrl {
	/delete-node/ pinmux_enet;
	/delete-node/ pinmux_enet_mdio;
	/delete-node/ pinmux_ptp;

	pinmux_enet: pinmux_enet {
		group0 {
			pinmux = <&iomuxc_gpio_ad_b0_08_enet_ref_clk>;
			bias-disable;
			drive-strength = "r0-6";
			slew-rate = "fast";
			nxp,speed = "50-mhz";
			input-enable;
		};
		group1 {
			pinmux = <&iomuxc_gpio_ad_b0_04_gpio1_io04>;
			drive-strength = "r0-5";
			bias-pull-up;
			bias-pull-up-value = "100k";
			slew-rate = "fast";
			nxp,speed = "100-mhz";
		};
		group2 {
			pinmux = <&iomuxc_gpio_ad_b0_09_enet_rx_data1>,
				<&iomuxc_gpio_ad_b0_11_enet_rx_en>,
				<&iomuxc_gpio_ad_b0_14_enet_tx_data0>,
				<&iomuxc_gpio_ad_b0_15_enet_tx_data1>,
				<&iomuxc_gpio_ad_b0_13_enet_tx_en>,
				<&iomuxc_gpio_ad_b0_12_enet_rx_er>,
				<&iomuxc_gpio_emc_40_enet_mdio>,
				<&iomuxc_gpio_emc_41_enet_mdc>;
			drive-strength = "r0-5";
			bias-pull-up;
			bias-pull-up-value = "100k";
			slew-rate = "fast";
			nxp,speed = "200-mhz";
		};
		group3 {
			pinmux = <&iomuxc_gpio_ad_b1_06_gpio1_io22>;
			drive-strength = "r0-5";
			bias-pull-up;
			bias-pull-up-value = "100k";
			slew-rate = "slow";
			nxp,speed = "100-mhz";
		};
		group4 {
			pinmux = <&iomuxc_gpio_ad_b0_10_enet_rx_data0>;
			drive-strength = "r0-6";
			slew-rate = "slow";
			nxp,speed = "100-mhz";
		};
	};

	/* intentionally left empty */
	pinmux_ptp: pinmux_ptp {
	};
};
