config GOLIOTH_FW_UPDATE_PACKAGE_NAME
    string "Package name of the main firmware component"
    default "main"
    help
      The Package Name used by the Golioth Cloud to indicate the binary to use for device firmware
      update. This name must be no more than GOLIOTH_OTA_MAX_PACKAGE_NAME_LEN characters in length.

config GOLIOTH_FW_UPDATE_OBSERVATION_RETRY_MAX_DELAY_S
    int "Golioth maximum delay before retrying firmware OTA manifest observation"
    default 300 # 5 minutes
    help
        Maximum number of seconds to delay between attempts to establish an OTA manifest
        observation.

        When registering an observation for firmware updates fails, a delay will be used with a
        backoff doubling between retry attempts. The delay value will increase until this limit is
        reached.

config GOLIOTH_FW_UPDATE_THREAD_STACK_SIZE
    int "Golioth OTA thread stack size"
    default 4096
    help
        Stack size of thread handling OTA updates.

config GOLIOTH_FW_UPDATE_ROLLBACK_TIMER_S
    int "FW Update rollback timer period"
    default 300
    help
        The time, in seconds, that the firmware update thread will wait for a connection to
        Golioth after the first boot into a new firmware image. If a connection is not established
        within this period, the firmware update module will roll back the firmware to the previous
        version.
