[submodule "third_party/libcoap"]
	path = third_party/libcoap
	url = https://github.com/obgm/libcoap
[submodule "third_party/cJSON"]
	path = third_party/cJSON
	url = https://github.com/DaveGamble/cJSON
