[submodule "external/libcoap"]
	path = external/libcoap
	url = https://github.com/obgm/libcoap.git
[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/fff"]
	path = external/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "external/heatshrink"]
	path = external/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
[submodule "external/miniz"]
	path = external/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "external/bsdiff"]
	path = external/bsdiff
	url = https://github.com/golioth/bsdiff.git
[submodule "external/zcbor"]
	path = external/zcbor
	url = https://github.com/NordicSemiconductor/zcbor.git
[submodule "docs/doxygen/doxygen-awesome-css"]
	path = docs/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
