[submodule "external/libcoap"]
	path = external/libcoap
	url = https://github.com/obgm/libcoap.git
[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/fff"]
	path = external/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "external/heatshrink"]
	path = external/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
