# SPDX-License-Identifier: Apache-2.0

extends: default

ignore: |
  /external
  /docs/doxygen/doxygen-awesome-css
  mtb_shared

rules:
  line-length:
    max: 100

  comments:
    min-spaces-from-content: 1
  indentation:
    spaces: 2
    indent-sequences: consistent
  document-start:
    present: false
  truthy:
    check-keys: false
