# Copyright (c) 2021 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

configdefault ZVFS_EVENTFD_MAX
	int
	default 15

configdefault ZVFS_OPEN_MAX
	int
	default 25

configdefault EVENTFD_MAX
	int
	default 15

configdefault POSIX_MAX_FDS
	int
	default 25

source "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig.defconfig"

source "Kconfig.zephyr"
