/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};

/delete-node/ &storage_partition;

&flash0 {
	partitions {
		storage_partition: partition@100000 {
			label = "storage";
			reg = <DT_SIZE_M(1) DT_SIZE_M(1)>;
		};
	};
};
