# Copyright (c) 2023 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig GOLIOTH_FIRMWARE_SDK
	bool "Golioth Firmware SDK"
	select POSIX_API # libcoap
	select REBOOT if BOOTLOADER_MCUBOOT
	select REQUIRES_FULL_LIBC # libcoap
	select MBEDTLS
	select MBEDTLS_DTLS if MBEDTLS_BUILTIN
	select NET_SOCKETS
	select NET_UDP
	select ZCBOR
	imply DNS_RESOLVER if NET_NATIVE
	imply NET_SOCKETS_SOCKOPT_TLS
	imply NET_SOCKETS_ENABLE_DTLS
	help
	  Enable library for communication with Golioth cloud.

if GOLIOTH_FIRMWARE_SDK

menu "Golioth SDK Configuration"

rsource '${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/src/Kconfig'

endmenu

config GOLIOTH_ZEPHYR_THREAD_STACKS
	int "Number of thread stacks in Zephyr pool"
	default 3 if GOLIOTH_REMOTE_SHELL_ENABLE
	default 2
	help
	  Number of thread stacks statically allocated for the use in golioth_sys_thread_create().

config GOLIOTH_ZEPHYR_THREAD_STACK_SIZE
	int "Thread stack sizes in Zephyr pool"
	default GOLIOTH_COAP_THREAD_STACK_SIZE
	help
	  Threads stacks sizes for the use in golioth_sys_thread_create().

endif # GOLIOTH_FIRMWARE_SDK
