# Copyright (c) 2023 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

config LIBCOAP_TLS_HOSTNAME_LEN_MAX
	int "Maximum length for hostname of a TLS peer"
	default 64

menuconfig GOLIOTH_FIRMWARE_SDK
	bool "Golioth Firmware SDK"
	select POSIX_API # libcoap
	select REBOOT if BOOTLOADER_MCUBOOT
	select REQUIRES_FULL_LIBC # libcoap
	select MBEDTLS
    select MBEDTLS_SSL_DTLS_CONNECTION_ID if MBEDTLS_BUILTIN
	select MBEDTLS_DTLS if MBEDTLS_BUILTIN
	select MBEDTLS_TLS_LIBRARY if NRF_SECURITY
	select MBEDTLS_SSL_PROTO_DTLS if NRF_SECURITY
	select NET_SOCKETS
	select NET_UDP
	select ZCBOR
	select NEWLIB_LIBC_FLOAT_PRINTF if NEWLIB_LIBC
	select PICOLIBC_IO_FLOAT if PICOLIBC
	imply DNS_RESOLVER if NET_NATIVE
	imply NET_SOCKETS_SOCKOPT_TLS
	imply NET_SOCKETS_ENABLE_DTLS
	help
	  Enable library for communication with Golioth cloud.

if GOLIOTH_FIRMWARE_SDK

menu "Golioth SDK Configuration"

rsource '${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/src/Kconfig'

config GOLIOTH_AUTH_PSK_MBEDTLS_DEPS
	bool "mbedTLS dependencies for PSK auth"
	depends on MBEDTLS_BUILTIN || NRF_SECURITY
	# Select at least one server supported cipher
	imply MBEDTLS_CIPHER_GCM_ENABLED if (MBEDTLS_BUILTIN && !MBEDTLS_CIPHER_CCM_ENABLED && !MBEDTLS_CIPHER_CBC_MODE_ENABLED)
	imply MBEDTLS_GCM_C if (NRF_SECURITY && !MBEDTLS_CCM_C)
	select MBEDTLS_KEY_EXCHANGE_PSK_ENABLED
	# Satisfy build-time check of MBEDTLS_PK_C (needs MBEDTLS_ECP_C || MBEDTLS_RSA_C)
	imply MBEDTLS_ECP_C if (NRF_SECURITY && !MBEDTLS_RSA_C)
	help
	  Select mbedTLS dependencies for PSK based authentication.

	  This is a convenience option when using mbedTLS as a library to make
	  (D)TLS connection with Golioth cloud.

config GOLIOTH_AUTH_CERT_MBEDTLS_DEPS
	bool "mbedTLS dependencies for certificate based auth"
	depends on MBEDTLS_BUILTIN || NRF_SECURITY
	# At least one ECP needs to be selected. This was chosen arbitrarily.
	imply MBEDTLS_ECP_DP_SECP256R1_ENABLED
	# Select at least one server supported cipher
	imply MBEDTLS_CIPHER_GCM_ENABLED if (MBEDTLS_BUILTIN && !MBEDTLS_CIPHER_CCM_ENABLED)
	select MBEDTLS_GCM_C if (NRF_SECURITY && !MBEDTLS_CCM_C)
	select MBEDTLS_ECP_C
	select MBEDTLS_ECDH_C
	select MBEDTLS_ECDSA_C
	select MBEDTLS_RSA_C
	select MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED
	help
	  Select mbedTLS dependencies for certificate based authentication.

	  This is a convenience option when using mbedTLS as a library to make
	  (D)TLS connection with Golioth cloud.

config MBEDTLS_MPI_MAX_SIZE
	int
	default 512 if GOLIOTH_AUTH_CERT_MBEDTLS_DEPS

config GOLIOTH_CIPHERSUITES
	string "Ciphersuites"
	# Select single PSK ciphersuite (following ciphersuite preference in mbedTLS)
	default "TLS_PSK_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_GCM_ENABLED)
	default "TLS_PSK_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_PSK && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_CCM_ENABLED)
	default "TLS_PSK_WITH_AES_128_CBC_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_MODE_CBC_ENABLED)
	# Same, but for NCS flavour of mbedTLS
	default "TLS_PSK_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_GCM_C)
	default "TLS_PSK_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_PSK && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_CCM_C)
	default "TLS_PSK_WITH_AES_128_CBC_SHA256" if (GOLIOTH_AUTH_METHOD_PSK && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_CIPHER_MODE_CBC)
	# Select all supported PSK ciphersuites if not using MBEDTLS_BUILTIN
	default "TLS_PSK_WITH_AES_128_GCM_SHA256 TLS_PSK_WITH_AES_128_CCM TLS_PSK_WITH_AES_128_CBC_SHA256 TLS_PSK_WITH_AES_128_CCM_8" if GOLIOTH_AUTH_METHOD_PSK
	# Select single cert-based ciphersuite (following ciphersuite preference in mbedTLS)
	default "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_CERT && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_GCM_ENABLED)
	default "TLS_ECDHE_ECDSA_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_CERT && MBEDTLS_BUILTIN && MBEDTLS_CIPHER_CCM_ENABLED)
	# Same, but for NCS flavour of mbedTLS
	default "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256" if (GOLIOTH_AUTH_METHOD_CERT && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_GCM_C)
	default "TLS_ECDHE_ECDSA_WITH_AES_128_CCM" if (GOLIOTH_AUTH_METHOD_CERT && ZEPHYR_NRF_MODULE && MBEDTLS_TLS_LIBRARY && MBEDTLS_CCM_C)
	# Select all supported cert-based ciphersuites if not using MBEDTLS_BUILTIN
	default "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_128_CCM TLS_ECDHE_ECDSA_WITH_AES_128_CCM_8" if GOLIOTH_AUTH_METHOD_CERT
	help
	  Ciphersuite list used during (D)TLS handshakes. Default value contains currently supported
	  ciphersuites by Golioth server.

	  Use string representations of ciphersuites as defined by IANA in:
	  https://www.iana.org/assignments/tls-parameters/tls-parameters.xhtml

	  Select single ciphersuite to reduce data exchanged during (D)TLS handshake, due to reduced
	  ciphersuite list in Client Hello message.

	  Make sure that credentials (e.g. using Zephyr TLS credentials subsystem) are configured
	  for each ciphersuite (e.g. PSKs for PSK-based ciphersuites or certificates for
	  certificate-based ciphersuites) that is negotiated.

	  If empty, then underlying TLS implementation (e.g. mbedTLS library) decides which
	  ciphersuites to use. Relying on that is not recommended!

endmenu

config GOLIOTH_HARDCODED_CA_CRT_PATH
    default "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/src/isrgrootx1.der"

config GOLIOTH_ZEPHYR_THREAD_STACKS
	int "Number of thread stacks in Zephyr pool"
	default 3 if GOLIOTH_REMOTE_SHELL_ENABLE
	default 2
	help
	  Number of thread stacks statically allocated for the use in golioth_sys_thread_create().

config GOLIOTH_ZEPHYR_THREAD_STACK_SIZE
	int "Thread stack sizes in Zephyr pool"
	default GOLIOTH_COAP_THREAD_STACK_SIZE
	help
	  Threads stacks sizes for the use in golioth_sys_thread_create().

config LOG_BACKEND_GOLIOTH
	bool "Golioth logging backend"
	depends on LOG
	depends on !LOG_MODE_IMMEDIATE
	depends on GOLIOTH_FIRMWARE_SDK
	select LOG_OUTPUT
	select ZCBOR
	help
	  Enable sending logs to Golioth cloud.

if LOG_BACKEND_GOLIOTH

config LOG_BACKEND_GOLIOTH_MAX_LOG_STRING_SIZE
	int "Maximum length of a formatted log string"
	default 256
	help
	  Specified maximum buffer size used for storing a formatted log
	  string before sending to Golioth cloud.

endif # LOG_BACKEND_GOLIOTH

rsource '${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig'

endif # GOLIOTH_FIRMWARE_SDK
