#
# Copyright (C) 2022 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Golioth SDK Configuration"

rsource '../../../../src/Kconfig'

menu "Common helper code shared across multiple samples"

config GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS
    bool "Hardcoded credentials"
    default n
    help
        Use hardcoded credentials in samples

if GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS

config GOLIOTH_SAMPLE_PSK_ID
    string "PSK ID"
    help
        Defines PSK ID used during DTLS handshake with Golioth server.

config GOLIOTH_SAMPLE_PSK
    string "PSK"
    help
        Defines PSK used during DTLS handshake with Golioth server.

config GOLIOTH_SAMPLE_WIFI_SSID
    string "WiFi SSID"
        help
        WiFi SSID used when connecting to WiFi AP.

config GOLIOTH_SAMPLE_WIFI_PSK
    string "WiFi PSK"
    help
        WiFi PSK used when connecting to WiFi AP. Leave empty if connecting to
        unsecure (open) AP.

endif # GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS

endmenu # Common helper code shared across multiple samples

endmenu # Golioth SDK Configuration

