# Copyright (c) 2021-2025 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

configdefault GOLIOTH_LOCATION_CELLULAR
    default y if GOLIOTH_CELLULAR_PLAYBACK

configdefault GOLIOTH_LOCATION_WIFI
    default y if WIFI

configdefault WIFI
    default y if GOLIOTH_WIFI_PLAYBACK

source "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig.defconfig"

config APP_LOCATION_GET_INTERVAL
    int "Interval (msec)"
    default 0 if GOLIOTH_CELLULAR_PLAYBACK || GOLIOTH_WIFI_PLAYBACK
    default 5000
    help
      Interval (msec) between requests of location information.

config GOLIOTH_CELLULAR_PLAYBACK
    bool "Cellular playback"
    default y
    depends on DT_HAS_GOLIOTH_CELLULAR_PLAYBACK_ENABLED

config GOLIOTH_WIFI_PLAYBACK
    bool "WiFi playback"
    default y
    depends on DT_HAS_GOLIOTH_WIFI_PLAYBACK_ENABLED

if GOLIOTH_CELLULAR_PLAYBACK || GOLIOTH_WIFI_PLAYBACK

config GOLIOTH_PLAYBACK_SPEED_FACTOR
    int "Speed factor"
    default 1000
    help
      Speed of playback.

      1000 means 1x (normal) speed.
      3000 means 3x speed.
      500 means 0.5x speed.

endif # GOLIOTH_CELLULAR_PLAYBACK || GOLIOTH_WIFI_PLAYBACK

source "Kconfig.zephyr"
