/*
 * Copyright (C) 2021 Golioth, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */


/ {
	aliases {
		modem = &modem;
		modem-uart = &uart1;
	};
};


&uart1 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	status = "okay";

	modem: modem {
		compatible = "simcom,sim7080";
		status = "okay";
		mdm-power-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
	};
};
