CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_MBEDTLS_SHA512_C=n
CONFIG_LWIP_NETBUF_RECVINFO=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# TODO - re-enable once resolved: https://github.com/espressif/esp-idf/issues/10322
#CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Refer to Adafruit schematic:
# https://cdn-learn.adafruit.com/assets/assets/000/096/946/original/adafruit_products_MagTag_sch.png?1605026160
CONFIG_EXAMPLE_RMT_TX_GPIO=1
CONFIG_EXAMPLE_STRIP_LED_NUMBER=4

CONFIG_ESP_CONSOLE_USB_CDC=y

