#
# Copyright (C) 2022-2023 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

if GOLIOTH_SAMPLE_COMMON

if SOC_ESP32

# Force ESP32 WiFi to use system heap
config ESP_HEAP_RUNTIME
	bool
	default n

endif # SOC_ESP32

if DNS_RESOLVER

config DNS_SERVER_IP_ADDRESSES
	default y

config DNS_SERVER1
	default "1.1.1.1"

endif # DNS_RESOLVER

configdefault ZVFS_EVENTFD_MAX
	int
	default 14 if GOLIOTH_OTA
    default 13 if GOLIOTH_LOCATION_CELLULAR && GOLIOTH_LOCATION_WIFI
	default 7

if LOG_BACKEND_GOLIOTH

config LOG_PROCESS_THREAD_STACK_SIZE
    default 1536

endif # LOG_BACKEND_GOLIOTH

if MBEDTLS

config MBEDTLS_ENABLE_HEAP
	default y

if MBEDTLS_ENABLE_HEAP

config MBEDTLS_HEAP_SIZE
	default 49152 if GOLIOTH_AUTH_METHOD_CERT
	default 10240

endif # MBEDTLS_ENABLE_HEAP

configdefault NET_SOCKETS_DTLS_MAX_FRAGMENT_LENGTH
	default 4096 if GOLIOTH_AUTH_METHOD_CERT
	default 2048

if MBEDTLS_BUILTIN

config MBEDTLS_SSL_MAX_CONTENT_LEN
	default 4096 if GOLIOTH_AUTH_METHOD_CERT
	default 2048

endif # MBEDTLS_BUILTIN

if NRF_SECURITY

config MBEDTLS_SSL_IN_CONTENT_LEN
	int
	default 4096 if GOLIOTH_AUTH_METHOD_CERT
	default 2048

config MBEDTLS_SSL_OUT_CONTENT_LEN
	int
	default 4096 if GOLIOTH_AUTH_METHOD_CERT
	default 2048

endif # NRF_SECURITY

endif # MBEDTLS

if ZEPHYR_NRF_MODULE

config NEWLIB_LIBC_FLOAT_PRINTF
	default y if NEWLIB_LIBC && GOLIOTH_LIGHTDB_STATE_FLOAT_HELPERS

endif # ZEPHYR_NRF_MODULE

if !ZEPHYR_NRF_MODULE

config REQUIRES_FLOAT_PRINTF
	bool
	default y if GOLIOTH_LIGHTDB_STATE_FLOAT_HELPERS

endif # !ZEPHYR_NRF_MODULE

config NETWORKING
	default y

config NET_IPV4
	default y

config NET_IPV6
	default n

config NET_LOG
	default y if NETWORKING

config NET_SHELL
	default y if NETWORKING

config NET_BUF_TX_COUNT
	default 32 if GOLIOTH_AUTH_METHOD_CERT && WIFI_ESP_AT

config MAIN_STACK_SIZE
	default 4096

configdefault ZVFS_OPEN_MAX
	int
	default 23 if GOLIOTH_OTA
    default 20 if GOLIOTH_LOCATION_CELLULAR && GOLIOTH_LOCATION_WIFI
	default 16

config REBOOT
	default y

config GOLIOTH_COAP_HOST_URI
	default "$(GOLIOTH_COAP_HOST_URI)" if "$(GOLIOTH_COAP_HOST_URI)" != ""

config FLASH
	default y

config FLASH_MAP
	default y

config NVS
	default y

config SETTINGS
	default y

config SETTINGS_RUNTIME
	default y

configdefault COAP_EXTENDED_OPTIONS_LEN
    default y

configdefault COAP_EXTENDED_OPTIONS_LEN_VALUE
    default 39

if GOLIOTH_SAMPLE_TWISTER_TEST

configdefault GOLIOTH_SAMPLE_NRF91_RESET_LOOP_OVERRIDE
	bool
	default y

configdefault LOG_BACKEND_NATIVE_POSIX
	bool
	default n

configdefault SHELL_BACKEND_SERIAL_RX_RING_BUFFER_SIZE
	int
	default 128

configdefault SHELL_DEFAULT_TERMINAL_WIDTH
	int
	default 100

choice GOLIOTH_SAMPLE_CREDENTIALS
	default GOLIOTH_SAMPLE_CREDENTIALS_SETTINGS if (GOLIOTH_AUTH_METHOD_PSK && SETTINGS)
endchoice

config GOLIOTH_FW_UPDATE_PACKAGE_NAME
   default BOARD if GOLIOTH_FW_UPDATE

endif # GOLIOTH_SAMPLE_TWISTER_TEST

configdefault MCUMGR_TRANSPORT_NETBUF_USER_DATA_SIZE
	default 112 if NET_NATIVE_OFFLOADED_SOCKETS

endif # GOLIOTH_SAMPLE_COMMON
