#
# Copyright (C) 2021-2024 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig GOLIOTH_SAMPLE_COMMON
	bool "Common helper code shared across multiple samples"
	help
	  Build and link common code that is shared across Golioth samples.

if GOLIOTH_SAMPLE_COMMON

choice GOLIOTH_SAMPLE_AUTH_TYPE
	prompt "Authentication type"

config GOLIOTH_SAMPLE_AUTH_TYPE_PSK
	bool "PSK"
	depends on GOLIOTH_AUTH_METHOD_PSK

config GOLIOTH_SAMPLE_AUTH_TYPE_PKI
	bool "PKI"
	depends on GOLIOTH_AUTH_METHOD_CERT

config GOLIOTH_SAMPLE_AUTH_TYPE_TAG
	bool "Tag"

endchoice

config GOLIOTH_SAMPLE_DHCP_BIND
	bool "DHCP for samples"
	depends on NET_L2_ETHERNET
	depends on NET_DHCPV4
	help
	  Obtain an IPv4 address from the DHCP server.

# NCS and Zephyr use different integer sizes for network management events
config GOLIOTH_SAMPLE_NET_EVENT_SIZE
	int
	default 64 if !NRF_SECURITY
	default 32 if NRF_SECURITY

config GOLIOTH_SAMPLE_NRF91_LTE_MONITOR
	bool "nRF91 LTE monitor"
	default y
	depends on LOG
	depends on LTE_LINK_CONTROL
	help
	  LTE Link Control events monitor for nRF91.

if GOLIOTH_SAMPLE_NRF91_LTE_MONITOR

config GOLIOTH_SAMPLE_NRF91_LTE_MONITOR_LOG_LEVEL
	int "Default log level for LTE Monitor"
	default 3
	help
	  The default log level for the LTE Monitor in the Golioth common library.

	  0: NONE
	  1: ERR
	  2: WRN
	  3: INF
	  4: DBG

endif # GOLIOTH_SAMPLE_NRF91_LTE_MONITOR

config GOLIOTH_SAMPLE_NRF91_RESET_LOOP_OVERRIDE
	bool "Automatically override modem reset loop restriction"
	depends on GOLIOTH_SAMPLE_NRF91_LTE_MONITOR
	help
	  When selected, the device will automatically factory reset the modem
	  when the modem reports that it has activated the reset loop restriction.
	  This will remove the reset loop restriction.

	  WARNING: It is not recommended to activate this setting in production.

config GOLIOTH_SAMPLE_SETTINGS
	bool

choice GOLIOTH_SAMPLE_CREDENTIALS
	prompt "Load credentials automatically"
	default GOLIOTH_SAMPLE_CREDENTIALS_NSI if (GOLIOTH_AUTH_METHOD_PSK && NATIVE_LIBRARY)
	default GOLIOTH_SAMPLE_CREDENTIALS_SETTINGS if (GOLIOTH_AUTH_METHOD_PSK && SETTINGS)
	default GOLIOTH_SAMPLE_CREDENTIALS_DISABLED

config GOLIOTH_SAMPLE_CREDENTIALS_NSI
	bool "From NSI host environment variables"
	depends on GOLIOTH_AUTH_METHOD_PSK
	depends on NATIVE_LIBRARY
	help
	  When selected, Golioth credentials will be loaded from Native Simulator
	  host environment variables.

config GOLIOTH_SAMPLE_CREDENTIALS_SETTINGS
	bool "From persistent settings"
	depends on GOLIOTH_AUTH_METHOD_PSK
	depends on SETTINGS
	select GOLIOTH_SAMPLE_SETTINGS
	help
	  When selected, Golioth credentials will be loaded from settings
	  subsystem.

config GOLIOTH_SAMPLE_CREDENTIALS_DISABLED
	bool "Disabled"
	help
	  When selected, no credentials will be loaded into Zephyr TLS credentials
	  subsystem.

endchoice

if GOLIOTH_SAMPLE_CREDENTIALS_NSI || GOLIOTH_SAMPLE_CREDENTIALS_SETTINGS

config GOLIOTH_SAMPLE_PSK_ID_MAX_LEN
	int "Max length of PSK ID"
	default 64
	help
	  Maximum length of PSK ID, in bytes.

config GOLIOTH_SAMPLE_PSK_MAX_LEN
	int "Max length of PSK"
	default MBEDTLS_PSK_MAX_LEN if MBEDTLS_BUILTIN
	default 32
	help
      Maximum length of PSK, in bytes. Modification may require also updating
      MBEDTLS_PSK_MAX_LEN.

endif # GOLIOTH_SAMPLE_CREDENTIALS_NSI || GOLIOTH_SAMPLE_CREDENTIALS_SETTINGS

config GOLIOTH_SAMPLE_SETTINGS_AUTOLOAD
	bool "Automatically load settings before main()"
	default y if GOLIOTH_SAMPLE_SETTINGS
	depends on SETTINGS
	help
	  Load settings automatically before running main() function. Enable it,
	  so that application does not need to call settings_load() manually.

config GOLIOTH_SAMPLE_SETTINGS_SHELL
	bool "Settings shell"
	default y if GOLIOTH_SAMPLE_SETTINGS
	depends on SHELL
	depends on SETTINGS
	depends on !SETTINGS_SHELL
	help
	  Golioth specific settings shell. Enable it when reading and
	  writing string based settings is desired. Look at Zephyr's
	  settings shell implementation (SETTINGS_SHELL) when byte
	  strings are needed to be handled as well.

config GOLIOTH_SAMPLE_WIFI
	bool "WiFi utilities for samples"
	depends on NET_L2_WIFI_MGMT
	help
	  Enable utilities for easy WiFi setup, mainly for use inside samples/.

if GOLIOTH_SAMPLE_WIFI

config GOLIOTH_SAMPLE_WIFI_STACK_SIZE
	int "WiFi manager stack size"
	default 2048

config GOLIOTH_SAMPLE_WIFI_INIT_PRIORITY
	int "WiFi manager init priority"
	default 90

config GOLIOTH_SAMPLE_WIFI_THREAD_PRIORITY
	int "WiFi manager thread priority"
	default 7

config GOLIOTH_SAMPLE_WIFI_SETTINGS
	bool "Load SSID and PSK from settings subsystem"
	default y
	depends on SETTINGS
	select GOLIOTH_SAMPLE_SETTINGS
	help
	  Load WiFi SSID and PSK from settings subsystem, from 'wifi/ssid' and
	  'wifi/psk' entries.

endif # GOLIOTH_SAMPLE_WIFI

config GOLIOTH_SAMPLE_TWISTER_TEST
	bool "Twister test"
	help
	  Helper option used for selecting better defaults for Twister (Hardware-in-the-loop or Native
	  Simulator) tests, e.g. for increased tests reliability.

endif # GOLIOTH_SAMPLE_COMMON
