#
# Copyright (C) 2021-2022 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig GOLIOTH_SAMPLE_COMMON
	bool "Common helper code shared across multiple samples"
	help
	  Build and link common code that is shared across Golioth samples.

if GOLIOTH_SAMPLE_COMMON

rsource "Kconfig.defconfig"

config GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS
	bool "Hardcoded credentials"
	default n
	help
	  Use hardcoded credentials in samples

if GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS

if GOLIOTH_AUTH_METHOD_PSK

config GOLIOTH_SAMPLE_PSK_ID
	string "PSK ID"
	depends on !GOLIOTH_SAMPLE_SETTINGS
	help
	  Defines PSK ID used during DTLS handshake with Golioth server.

config GOLIOTH_SAMPLE_PSK
	string "PSK"
	depends on !GOLIOTH_SAMPLE_SETTINGS
	help
	  Defines PSK used during DTLS handshake with Golioth server.

endif # GOLIOTH_AUTH_METHOD_PSK

if GOLIOTH_AUTH_METHOD_CERT

config GOLIOTH_SAMPLE_HARDCODED_CRT_PATH
	string "Public certificate path"
	help
	  Path to client's public certificate.

	  Must be in DER format.

config GOLIOTH_SAMPLE_HARDCODED_KEY_PATH
	string "Private key path"
	help
	  Path to client's private key.

	  Must be in DER format.

endif # GOLIOTH_AUTH_METHOD_CERT

endif # GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS

config GOLIOTH_SAMPLE_DHCP_BIND
	bool "DHCP for samples"
	depends on NET_L2_ETHERNET
	depends on NET_DHCPV4
	help
	  Obtain an IPv4 address from the DHCP server.

config GOLIOTH_SAMPLE_FW_VERSION
	string "FW Update Firmware Version"
	default "0.0.0+0"
	help
          Firmware version used by Golioth FW Update sample to assign MCUBOOT_IMGTOOL_SIGN_VERSION (if
          using Zephyr) or MCUBOOT_IMGTOOL_SIGN_VERSION (if using NCS)

if BOOTLOADER_MCUBOOT

config MCUBOOT_IMGTOOL_SIGN_VERSION
	string
	default GOLIOTH_SAMPLE_FW_VERSION

endif # BOOTLOADER_MCUBOOT

config GOLIOTH_SAMPLE_NRF91_LTE_MONITOR
	bool "nRF91 LTE monitor"
	default y
	depends on LOG
	depends on LTE_LINK_CONTROL
	help
	  LTE Link Control events monitor for nRF91.

config GOLIOTH_SAMPLE_PSK_SETTINGS
       bool "Load credentials from persistent settings"
       default y if !GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS
       depends on GOLIOTH_AUTH_METHOD_PSK
       depends on SETTINGS
       help
         When selected, Golioth credentials will be loaded from settings
         subsystem.

config GOLIOTH_SAMPLE_SETTINGS_AUTOLOAD
	bool "Automatically load settings before main()"
	default y if GOLIOTH_SAMPLE_PSK_SETTINGS
	depends on SETTINGS
	help
	  Load settings automatically before running main() function. Enable it,
	  so that application does not need to call settings_load() manually.

config GOLIOTH_SAMPLE_SETTINGS_SHELL
	bool "Settings shell"
	default y if GOLIOTH_SAMPLE_PSK_SETTINGS
	depends on SHELL
	depends on SETTINGS
	depends on !SETTINGS_SHELL
	help
	  Golioth specific settings shell. Enable it when reading and
	  writing string based settings is desired. Look at Zephyr's
	  settings shell implementation (SETTINGS_SHELL) when byte
	  strings are needed to be handled as well.

config GOLIOTH_SAMPLE_WIFI
	bool "WiFi utilities for samples"
	depends on NET_L2_WIFI_MGMT
	help
	  Enable utilities for easy WiFi setup, mainly for use inside samples/.

if GOLIOTH_SAMPLE_WIFI

config GOLIOTH_SAMPLE_WIFI_STACK_SIZE
	int "WiFi manager stack size"
	default 2048

config GOLIOTH_SAMPLE_WIFI_INIT_PRIORITY
	int "WiFi manager init priority"
	default 90

config GOLIOTH_SAMPLE_WIFI_THREAD_PRIORITY
	int "WiFi manager thread priority"
	default 7

endif # GOLIOTH_SAMPLE_WIFI

config GOLIOTH_SAMPLE_WIFI_SETTINGS
	bool "Load SSID and PSK from settigs subsystem"
	depends on GOLIOTH_SAMPLE_WIFI
	depends on SETTINGS
	help
	  Load WiFi SSID and PSK from settings subsystem, from 'wifi/ssid' and
	  'wifi/psk' entries.

if GOLIOTH_SAMPLE_WIFI && !GOLIOTH_SAMPLE_WIFI_SETTINGS

config GOLIOTH_SAMPLE_WIFI_SSID
	string "WiFi SSID"
	help
	  WiFi SSID used when connecting to WiFi AP.

config GOLIOTH_SAMPLE_WIFI_PSK
	string "WiFi PSK"
	help
	  WiFi PSK used when connecting to WiFi AP. Leave empty if connecting to
	  unsecure (open) AP.

endif # GOLIOTH_SAMPLE_WIFI

config GOLIOTH_SAMPLE_SETTINGS

	bool "Load credentials from persistent settings"
	default y
	depends on GOLIOTH_AUTH_METHOD_PSK
	depends on SETTINGS
	help
	  When selected, Golioth credentials will be loaded from settings
	  subsystem.

if GOLIOTH_SAMPLE_SETTINGS

config GOLIOTH_SAMPLE_PSK_ID_MAX_LEN
	int "Max length of PSK ID"
	default 64
	help
	  Maximum length of PSK ID, in bytes.

config GOLIOTH_SAMPLE_PSK_MAX_LEN
	int "Max length of PSK"
	default MBEDTLS_PSK_MAX_LEN if MBEDTLS_BUILTIN
	default 64
	help
	  Maximum length of PSK, in bytes.

endif # GOLIOTH_SAMPLE_SETTINGS
endif # GOLIOTH_SAMPLE_COMMON
