# Copyright (c) 2023 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

source "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig.defconfig"

configdefault GOLIOTH_SAMPLE_WIFI_SETTINGS
	bool
	default y

choice GOLIOTH_SAMPLE_CREDENTIALS
	default GOLIOTH_SAMPLE_CREDENTIALS_SETTINGS if (GOLIOTH_AUTH_METHOD_PSK && SETTINGS)
endchoice

source "Kconfig.zephyr"
