#
# Copyright (C) 2022 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Golioth SDK Configuration"

config GOLIOTH_COAP_HOST_URI
    string "CoAP server URI"
    default "coaps://coap.golioth.io"
    help
        The URI of the CoAP server

config GOLIOTH_COAP_RESPONSE_TIMEOUT_S
    int "CoAP response timeout"
    default 10
    help
        Maximum time, in seconds, the CoAP task will block while waiting
        for a response from the server.

config GOLIOTH_COAP_REQUEST_QUEUE_TIMEOUT_MS
    int "CoAP request queue timeout"
    default 1000
    help
        Maximum time, in milliseconds, the CoAP task will block while
        waiting for something to arrive in the request queue.
        This is also how often to poll for received observations.

config GOLIOTH_COAP_REQUEST_QUEUE_MAX_ITEMS
    int "CoAP request queue max num items"
    default 10
    help
        The size, in items, of the CoAP task request queue.
        If the queue is full, any attempts to queue new messages
        will fail.

config GOLIOTH_COAP_TASK_PRIORITY
    int "Golioth CoAP task priority"
    default 5
    help
        FreeRTOS task priority of the Golioth CoAP task.

config GOLIOTH_COAP_TASK_STACK_SIZE_BYTES
    int "Golioth CoAP task stack size"
    default 6144
    help
        FreeRTOS task stack size of the Golioth CoAP task, in bytes.

config GOLIOTH_COAP_KEEPALIVE_INTERVAL_S
    int "Golioth CoAP keepalive interval, in seconds"
    default 9
    help
        How often to send a "keepalive" dummy client request to the server.
        If the session is idle for this amount of time, then the keepalive
        request will be sent.
        Can be useful to keep the CoAP session active, and to mitigate
        against NAT and server timeouts.
        Set to 0 to disable.

config GOLIOTH_MAX_NUM_OBSERVATIONS
    int "Golioth CoAP maximum number observations"
    default 8
    help
        The maximum number of CoAP paths which can be simultaneously observed.

config GOLIOTH_OTA_MAX_PACKAGE_NAME_LEN
    int "Golioth maximum OTA component package name length"
    default 64
    help
        Maximum number of characters in the package name of a single
        OTA component.

config GOLIOTH_OTA_MAX_VERSION_LEN
    int "Golioth maximum OTA component version length"
    default 64
    help
        Maximum number of characters in the version string of a single
        OTA component.

config GOLIOTH_OTA_MAX_NUM_COMPONENTS
    int "Golioth maximum OTA number of components"
    default 4
    help
        Maximum number of components in an OTA manifest

config GOLIOTH_COAP_MAX_PATH_LEN
    int "Golioth maximum CoAP path length"
    default 39
    help
        Maximum length of a CoAP path (everything after
        "coaps://coap.golioth.io/").

config GOLIOTH_RPC_ENABLE
    int "Enable/disable for Remote Procedure Call feature"
    default 1
    help
        Feature flag for Remote Procedure Call (RPC). 0 for disabled, 1 for enabled.

config GOLIOTH_SETTINGS_ENABLE
    int "Enable/disable for Settings feature"
    default 1
    help
        Feature flag for Settings. 0 for disabled, 1 for enabled.

config GOLIOTH_RPC_MAX_NUM_METHODS
    int "Maximum number of registered Golioth RPC methods"
    default 8
    help
        Maximum number of Golioth Remote Procedure Call methods that can
        be registered.

config GOLIOTH_ALLOCATION_TRACKING
    int "Monitor for memory leaks"
    default 0
    help
        Enables tracking and instrumentation for resource
        allocations. Primarily intended for developers of the
        Golioth SDK itself. Will use extra RAM and CPU for
        tracking the allocations, so it's not recommended for
        use in production firmware images (only use for test/debug).

endmenu
