CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_LWIP_NETBUF_RECVINFO=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# GLTH_LOGX statements will automatically upload to Golioth Logs service
CONFIG_GOLIOTH_AUTO_LOG_TO_CLOUD=y
CONFIG_GOLIOTH_COAP_REQUEST_QUEUE_MAX_ITEMS=20

# To enable hardcode credentials, set to y
CONFIG_GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS=n

# If you set CONFIG_GOLIOTH_SAMPLE_HARDCODED_CREDENTIALS to y,
# uncomment the following and set appropriate values for hardcoding credentials
#CONFIG_GOLIOTH_SAMPLE_PSK_ID="my-psk-id"
#CONFIG_GOLIOTH_SAMPLE_PSK="my-psk"
