name: "CI: gitlint"

on:
  pull_request:

  workflow_dispatch:

jobs:
  gitlint:
    runs-on: ubuntu-latest

    container:
      image: jorisroovers/gitlint:0.19.1

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run gitlint
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          gitlint --commits origin/$GITHUB_BASE_REF..
