name: "CI: Firmware Build"

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # Fetch depth must be greater than the number of commits included in the push in order to
          # compare against commit prior to merge. 15 is chosen as a reasonable default for the
          # upper bound of commits in a single PR.
          fetch-depth: 15

      - name: Install clang-format
        shell: bash
        run: |
          pip install clang-format

      - name: Check code formatting
        shell: bash
        run: |
          git fetch --no-recurse-submodules
          if [[ $GITHUB_EVENT_NAME == 'push' ]]; then
              BASE=${{ github.event.before }}
          else
              BASE=origin/$GITHUB_BASE_REF
          fi
          git clang-format --verbose --extensions c,h --diff --diffstat $BASE

  linux_build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: 'x64'
      - name: Install Linux deps
        shell: bash
        run: |
          sudo apt install libssl-dev
      - name: Build golioth_basics
        shell: bash
        run: |
          cd examples/linux/golioth_basics
          echo "#define GOLIOTH_PSK_ID \"device@project\"" > credentials.inc
          echo "#define GOLIOTH_PSK \"secret\"" >> credentials.inc
          ./build.sh
      - name: Build certificate_auth
        shell: bash
        run: |
          cd examples/linux/certificate_auth
          ./build.sh

  esp_idf_build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          architecture: 'x64'
      - name: Build ESP-IDF cpp project
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.3
          target: esp32
          path: 'examples/esp_idf/cpp'
      - name: Create empty certs/keys required by certificate_auth project
        shell: bash
        run: |
          cd examples/esp_idf/certificate_auth
          mkdir -p main/certs
          cd main
          touch certs/client.key.pem
          touch certs/client.crt.pem
      - name: Build ESP-IDF certificate_auth project
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.3
          target: esp32
          path: 'examples/esp_idf/certificate_auth'
