name: "HIL: nsim Samples"

on:
  workflow_dispatch:
    inputs:
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string
      coap_gateway_url:
        required: true
        type: string
      platform:
        required: true
        type: string
      west_board:
        required: true
        type: string

  workflow_call:
    inputs:
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string
      coap_gateway_url:
        required: true
        type: string
      platform:
        required: true
        type: string
      west_board:
        required: true
        type: string

jobs:
  build_and_test:
    name: zephyr-${{ inputs.west_board }}-twister
    runs-on: ubuntu-24.04
    container:
      image: golioth/golioth-zephyr-base:0.16.8-SDK-v0
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.16.8
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          path: modules/lib/golioth-firmware-sdk
          submodules: 'recursive'

      - name: Init and update west
        run: |
          mkdir -p .west
          cat <<EOF > .west/config
          [manifest]
          path = modules/lib/golioth-firmware-sdk
          file = .ci-west-zephyr.yml
          EOF

          west update -o=--depth=1 -n
          git config --global user.email user@git-scm.com
          git config --global user.name "Git User"

          pip3 install \
            -r zephyr/scripts/requirements-base.txt \
            -r zephyr/scripts/requirements-build-test.txt \
            -r zephyr/scripts/requirements-run-test.txt \
            modules/lib/golioth-firmware-sdk/tests/hil/scripts/pytest-zephyr-samples \
            git+https://github.com/golioth/python-golioth-tools@v0.6.3

      - name: Run tests
        run: |
          rm -rf allure-reports
          zephyr/scripts/twister                                                    \
              --platform ${{ inputs.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              --coverage-formats txt                                                \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"                                        \
              --pytest-args="--alluredir=allure-reports"                            \
              --pytest-args="--runner-name=${{ runner.name }}"                      \
              --pytest-args="--hil-board=${{ inputs.platform }}"

      - name: Safe upload twister artifacts
        if: success() || failure()
        uses: ./modules/lib/golioth-firmware-sdk/.github/actions/safe-upload-artifacts
        with:
          secrets-json: ${{ toJson(secrets) }}
          name: twister-run-artifacts-${{ inputs.platform }}
          path: |
            reports/*
            twister-out/coverage.json
            twister-out/**/*.log
            twister-out/**/report.xml
            twister-out/*.xml
            twister-out/*.json

      - name: Safe upload CI report summary
        uses: ./modules/lib/golioth-firmware-sdk/.github/actions/safe-upload-artifacts
        if: success() || failure()
        with:
          name: ci-individual-samples-zephyr-${{ inputs.platform }}
          path: twister-out/twister_suite_report.xml

      - name: Safe upload Allure reports
        if: success() || failure()
        uses: ./modules/lib/golioth-firmware-sdk/.github/actions/safe-upload-artifacts
        with:
          secrets-json: ${{ toJson(secrets) }}
          name: allure-reports-samples-zephyr-${{ inputs.platform }}
          path: allure-reports

  hil_sample_zephyr_nsim_summary:
    name: zephyr-${{ inputs.platform }}-twister-summary
    runs-on: ubuntu-24.04
    needs: build_and_test
    if: success() || failure()

    steps:
      - name: Collect JUnit reports
        uses: actions/download-artifact@v4
        with:
          pattern: ci-individual-samples-zephyr-*

      - name: Prepare CI report summary
        if: success() || failure()
        run: |
          sudo apt install -y xml-twig-tools

          rm -rf summary
          mkdir summary

          xml_grep --pretty_print indented \
            --wrap testsuites --descr '' \
            --cond "testsuite" \
            ci-individual-samples-zephyr-${{ inputs.platform }}*/*.xml \
            > samples-zephyr-${{ inputs.platform }}.xml

      - name: Upload CI report summary
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: ci-summary-samples-zephyr-${{ inputs.platform }}
          path: samples-zephyr-*.xml
