name: "HIL: nsim Samples"

on:
  workflow_dispatch:
    inputs:
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string
      coap_gateway_url:
        required: true
        type: string
      platform:
        required: true
        type: string
      west_board:
        required: true
        type: string

  workflow_call:
    inputs:
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string
      coap_gateway_url:
        required: true
        type: string
      platform:
        required: true
        type: string
      west_board:
        required: true
        type: string

jobs:
  build_and_test:
    name: zephyr-${{ inputs.west_board }}-twister
    runs-on: ubuntu-24.04
    container:
      image: golioth/golioth-zephyr-base:0.17.4-SDK-v0
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.17.4
      EXTRA_TWISTER_ARGS: ${{ github.event_name == 'pull_request' && '-e nightly' || '' }}
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          path: modules/lib/golioth-firmware-sdk
          submodules: 'recursive'

      - name: Init and update west
        run: |
          mkdir -p .west
          cat <<EOF > .west/config
          [manifest]
          path = modules/lib/golioth-firmware-sdk
          file = .ci-west-zephyr.yml
          EOF

          west update -o=--depth=1 -n
          git config --global user.email user@git-scm.com
          git config --global user.name "Git User"

          uv pip install \
            -r zephyr/scripts/requirements-base.txt \
            -r zephyr/scripts/requirements-build-test.txt \
            -r zephyr/scripts/requirements-run-test.txt \
            modules/lib/golioth-firmware-sdk/tests/hil/scripts/pytest-zephyr-samples \
            git+https://github.com/golioth/python-golioth-tools@szczys/test-response-timeout \
            asyncclick==8.1.8

      - name: Run tests 1
        run: |
          rm -rf allure-reports
          zephyr/scripts/twister                                                    \
              -v                                                                    \
              --platform ${{ inputs.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              --coverage-formats txt                                                \
              ${EXTRA_TWISTER_ARGS}                                                 \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"                                        \
              --pytest-args="--alluredir=allure-reports"                            \
              --pytest-args="--runner-name=${{ runner.name }}"                      \
              --pytest-args="--hil-board=${{ inputs.platform }}"
          EXITCODE=$?
          grep -Rn "PYTEST: INFO: Logs fetch took" twister-out | tee -a logs-fetch-timing-${{ inputs.platform }}.txt
          exit $EXITCODE

      - name: Run tests 2
        run: |
          rm -rf allure-reports
          zephyr/scripts/twister                                                    \
              -v                                                                    \
              --platform ${{ inputs.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              --coverage-formats txt                                                \
              ${EXTRA_TWISTER_ARGS}                                                 \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"                                        \
              --pytest-args="--alluredir=allure-reports"                            \
              --pytest-args="--runner-name=${{ runner.name }}"                      \
              --pytest-args="--hil-board=${{ inputs.platform }}"
          EXITCODE=$?
          grep -Rn "PYTEST: INFO: Logs fetch took" twister-out | tee -a logs-fetch-timing-${{ inputs.platform }}.txt
          exit $EXITCODE

      - name: Run tests 3
        run: |
          rm -rf allure-reports
          zephyr/scripts/twister                                                    \
              -v                                                                    \
              --platform ${{ inputs.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              --coverage-formats txt                                                \
              ${EXTRA_TWISTER_ARGS}                                                 \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"                                        \
              --pytest-args="--alluredir=allure-reports"                            \
              --pytest-args="--runner-name=${{ runner.name }}"                      \
              --pytest-args="--hil-board=${{ inputs.platform }}"
          EXITCODE=$?
          grep -Rn "PYTEST: INFO: Logs fetch took" twister-out | tee -a logs-fetch-timing-${{ inputs.platform }}.txt
          exit $EXITCODE

      - name: Run tests 4
        run: |
          rm -rf allure-reports
          zephyr/scripts/twister                                                    \
              -v                                                                    \
              --platform ${{ inputs.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              --coverage-formats txt                                                \
              ${EXTRA_TWISTER_ARGS}                                                 \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"                                        \
              --pytest-args="--alluredir=allure-reports"                            \
              --pytest-args="--runner-name=${{ runner.name }}"                      \
              --pytest-args="--hil-board=${{ inputs.platform }}"
          EXITCODE=$?
          grep -Rn "PYTEST: INFO: Logs fetch took" twister-out | tee -a logs-fetch-timing-${{ inputs.platform }}.txt
          exit $EXITCODE

      - name: Run tests 5
        run: |
          rm -rf allure-reports
          zephyr/scripts/twister                                                    \
              -v                                                                    \
              --platform ${{ inputs.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              --coverage-formats txt                                                \
              ${EXTRA_TWISTER_ARGS}                                                 \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"                                        \
              --pytest-args="--alluredir=allure-reports"                            \
              --pytest-args="--runner-name=${{ runner.name }}"                      \
              --pytest-args="--hil-board=${{ inputs.platform }}"
          EXITCODE=$?
          grep -Rn "PYTEST: INFO: Logs fetch took" twister-out | tee -a logs-fetch-timing-${{ inputs.platform }}.txt
          exit $EXITCODE

      - name: Show timing
        run: |
          cat logs-fetch-timing-${{ inputs.platform }}.txt

      - name: Save timing
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: logs-get-timing-${{ inputs.platform }}
          path: logs-fetch-timing-${{ inputs.platform }}.txt

      - name: Save artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: twister-run-artifacts-${{ inputs.platform }}
          path: |
            reports/*
            twister-out/**/*.log
            twister-out/**/report.xml
            twister-out/*.xml
            twister-out/*.json
