name: "HIL: ESP-IDF Samples"

on:
  workflow_dispatch:
    inputs:
      hil_board:
        required: true
        type: string
      idf_target:
        required: true
        type: string
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string
      coap_gateway_url:
        required: true
        type: string
      ci_project_name:
        description: "The name of the Golioth Project to use for certificate generation"
        required: false
        type: string
        default: "firmware_ci"
  workflow_call:
    inputs:
      hil_board:
        required: true
        type: string
      idf_target:
        required: true
        type: string
      api-url:
        required: true
        type: string
      api-key-id:
        required: true
        type: string
      coap_gateway_url:
        required: true
        type: string
      ci_project_name:
        description: "The name of the Golioth Project to use for certificate generation"
        required: false
        type: string
        default: "firmware_ci"

jobs:
  matrix:
    name: espidf-${{ inputs.hil_board }}-sample-matrix
    runs-on: ubuntu-24.04

    outputs:
      device_name: ${{ steps.generate-name.outputs.device_name }}
      sample_list: ${{ steps.gather-samples.outputs.sample_list }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Generate device name
        id: generate-name
        shell: python
        run: |
          import random
          import os
          import string

          random_string = ''.join(random.choice(string.ascii_lowercase + string.digits)
                                  for _ in range(16))

          device_name = f'esp-idf-{random_string}'
          print(f"Device name is: {device_name}")

          with open(os.environ['GITHUB_OUTPUT'], 'a') as github_output:
            print(f'device_name={device_name}', file=github_output)

      - name: Prepare tests matrix
        id: gather-samples
        shell: python

        run: |
          import json
          import os

          SAMPLES_ROOT = 'examples/esp_idf'
          sample_dirs = list()
          for root, dirs, files in os.walk(SAMPLES_ROOT):
            if 'pytest' in dirs:
             sample_dirs.append(root)

          sample_list = list()

          for directory in sample_dirs:
            name = os.path.relpath(directory, SAMPLES_ROOT).replace('/', '_')
            sample_list.append({"name":name, "dir":directory})

          with open(os.environ['GITHUB_OUTPUT'], 'a') as github_output:
            print('sample_list=' + json.dumps(sample_list), file=github_output)

  build:
    name: espidf-${{ inputs.hil_board }}-sample-build (${{ matrix.name }})
    needs: matrix
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.matrix.outputs.sample_list) }}

    env:
      DEVICE_NAME: ${{ needs.matrix.outputs.device_name }}

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository and Submodules
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Prep for build
        id: build_prep
        run: |
          rm -rf test_binaries
          mkdir test_binaries

      - name: Generate certificates
        if: ${{ matrix.name == 'certificate_auth' }}
        shell: bash
        run: |
          scripts/certificates/generate_root_certificate.sh
          scripts/certificates/generate_device_certificate.sh "${{ inputs.ci_project_name }}" \
            "$DEVICE_NAME" pem

          mkdir examples/esp_idf/certificate_auth/main/certs
          mv golioth.crt.pem test_binaries/.
          rm golioth.key.pem
          mv *.crt.pem examples/esp_idf/certificate_auth/main/certs/client.crt.pem
          mv *.key.pem examples/esp_idf/certificate_auth/main/certs/client.key.pem

      - name: Build Samples
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.4.1
          target: ${{ inputs.idf_target }}
          command: |
              export SAMPLE_NAME="${{ matrix.name }}"
              export SAMPLE_DIR="${{ matrix.dir }}"
              echo -e "SAMPLE_NAME=$SAMPLE_NAME"
              echo -e "SAMPLE_DIR=$SAMPLE_DIR"

              echo CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\" \
                >> ${SAMPLE_DIR}/sdkconfig.defaults

              if [[ "${SAMPLE_NAME}" == "fw_update" ]]; then echo
                echo CONFIG_GOLIOTH_FW_UPDATE_PACKAGE_NAME=\"${{ inputs.hil_board }}_espidf\" \
                  >> ${SAMPLE_DIR}/sdkconfig.defaults
                echo CONFIG_GOLIOTH_OTA_MAX_PACKAGE_NAME_LEN=32 >> ${SAMPLE_DIR}/sdkconfig.defaults
              fi

              idf.py -C ${SAMPLE_DIR} build

              mv ${SAMPLE_DIR}/build/merged.bin test_binaries/${SAMPLE_NAME}.bin

      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.hil_board }}-sample-espidf-${{ matrix.name }}
          path: test_binaries/*

  verify_build:
    name: espidf-${{ inputs.hil_board }}-sample-verify-build
    if: always()
    needs:
      - matrix
      - build
    runs-on: ubuntu-24.04

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe
        with:
          jobs: ${{ toJSON(needs) }}

  test:
    name: espidf-${{ inputs.hil_board }}-sample-test (${{ matrix.name }})
    needs:
      - matrix
      - build
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.matrix.outputs.sample_list) }}
    runs-on:
      - is_active
      - has_${{ inputs.hil_board }}
    timeout-minutes: 30

    container:
      image: golioth/golioth-hil-base:bda7b71
      volumes:
        - /dev:/dev
        - /home/golioth/credentials:/opt/credentials
      options: --privileged

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python dependencies
        run: |
          uv pip install \
            pytest==8.4.2 \
            pytest-timeout \
            tests/hil/scripts/pytest-hil \
            git+https://github.com/golioth/python-golioth-tools@v0.8.1

      - name: Power On USB Hub
        run: python3 /opt/golioth-scripts/usb_hub_power.py on

      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.hil_board }}-sample-espidf-${{ matrix.name }}
          path: .

      - name: Run test
        shell: bash
        env:
          hil_board: ${{ inputs.hil_board }}
          SAMPLE_NAME: ${{ matrix.name }}
          SAMPLE_DIR: ${{ matrix.dir }}
          GOLIOTH_DEVICE_CERT_NAME: ${{ needs.matrix.outputs.device_name }}
          GOLIOTH_ROOT_CERTIFICATE: "golioth.crt.pem"
        run: |
          rm -rf allure-reports
          source /opt/credentials/runner_env.sh
          PORT_VAR=CI_${hil_board^^}_PORT

          pytest --rootdir . ${SAMPLE_DIR}/pytest                             \
            --board ${{ inputs.hil_board }}_espidf                            \
            --port ${!PORT_VAR}                                               \
            --fw-image ${SAMPLE_NAME}.bin                                     \
            --api-url ${{ inputs.api-url }}                                   \
            --api-key ${{ secrets[inputs.api-key-id] }}                       \
            --wifi-ssid ${{ secrets[format('{0}_WIFI_SSID', runner.name)] }}  \
            --wifi-psk ${{ secrets[format('{0}_WIFI_PSK', runner.name)] }}    \
            --mask-secrets                                                    \
            --timeout=600                                                     \
            --alluredir=allure-reports                                        \
            --allure-platform=esp-idf                                         \
            --runner-name ${{ runner.name }}                                  \
            --custom-suitename=sample

      - name: Safe upload Allure reports
        if: success() || failure()
        uses: ./.github/actions/safe-upload-artifacts
        with:
          secrets-json: ${{ toJson(secrets) }}
          name: allure-reports-samples-espidf-${{ inputs.hil_board }}-${{ matrix.name }}
          path: allure-reports

      - name: Erase flash
        if: always()
        shell: bash
        env:
          hil_board: ${{ inputs.hil_board }}
        run: |
          source /opt/credentials/runner_env.sh
          PORT_VAR=CI_${hil_board^^}_PORT
          esptool.py --port ${!PORT_VAR} erase_flash
      - name: Power Off USB Hub
        if: always()
        run: python3 /opt/golioth-scripts/usb_hub_power.py off
