name: Hardware-in-the-Loop Tests

on:
  workflow_dispatch:
    inputs:
      api-url:
        description: "API gateway URL for Golioth backend services"
        required: false
        default: "https://api.golioth.io"
      api-key-id:
        description: "Name of GitHub secret containing an API key that will be used to authenticate with the Golioth backend"
        required: false
        default: "PROD_CI_PROJECT_API_KEY"
      coap_gateway_url:
        description: "The CoAP gateway URL to be hardcoded into test firmware"
        required: false
        default: "coaps://coap.golioth.io"
      workflow:
        description: "Select which workflow to run"
        required: false
        type: choice
        default: 'all'
        options:
          - all
          - zephyr_integration
          - zephyr_sample
          - zephyr_sample_native_sim
          - esp_idf_integration
          - esp_idf_sample
          - linux_integration
  workflow_call:
    inputs:
      api-url:
        description: "API gateway URL for Golioth backend services"
        required: false
        type: string
        default: "https://api.golioth.io"
      api-key-id:
        description: "Name of GitHub secret containing an API key that will be used to authenticate with the Golioth backend"
        required: false
        type: string
        default: "PROD_CI_PROJECT_API_KEY"
      coap_gateway_url:
        description: "The CoAP gateway URL to be hardcoded into test firmware"
        required: false
        type: string
        default: "coaps://coap.golioth.io"
      workflow:
        description: "Select which workflow to run"
        required: false
        type: string
        default: 'all'

jobs:
  hil_test_zephyr:
    if: ${{ inputs.workflow == 'all' || inputs.workflow == 'zephyr_integration' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - hil_board: esp32_devkitc_wrover
            west_board: esp32_devkitc_wrover/esp32/procpu
            manifest: .ci-west-zephyr.yml
            binary_name: zephyr.bin
            binary_blob: hal_espressif
          - hil_board: mimxrt1024_evk
            west_board: mimxrt1024_evk
            manifest: .ci-west-zephyr.yml
            binary_name: zephyr.hex
          - hil_board: nrf52840dk
            west_board: nrf52840dk/nrf52840
            manifest: .ci-west-zephyr.yml
            binary_name: zephyr.hex
          - hil_board: nrf9160dk
            west_board: nrf9160dk/nrf9160/ns
            manifest: .ci-west-ncs.yml
            binary_name: merged.hex
    uses: ./.github/workflows/hil_test_zephyr.yml
    with:
      hil_board: ${{ matrix.hil_board }}
      west_board: ${{ matrix.west_board }}
      manifest: ${{ matrix.manifest }}
      binary_name: ${{ matrix.binary_name}}
      binary_blob: ${{ matrix.binary_blob }}
      api-url: ${{ inputs.api-url }}
      api-key-id: ${{ inputs.api-key-id }}
      coap_gateway_url: ${{ inputs.coap_gateway_url }}
    secrets: inherit

  hil_test_esp-idf:
    if: ${{ inputs.workflow == 'all' || inputs.workflow == 'esp_idf_integration' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - hil_board: esp32s3_devkitc
            idf_target: esp32s3
          - hil_board: esp32_devkitc_wrover
            idf_target: esp32
          - hil_board: esp32c3_devkitm
            idf_target: esp32c3
    uses: ./.github/workflows/hil_test_esp-idf.yml
    with:
      hil_board: ${{ matrix.hil_board }}
      idf_target: ${{ matrix.idf_target }}
      api-url: ${{ inputs.api-url }}
      api-key-id: ${{ inputs.api-key-id }}
      coap_gateway_url: ${{ inputs.coap_gateway_url }}
    secrets: inherit

  hil_test_linux:
    if: ${{ inputs.workflow == 'all' || inputs.workflow == 'linux_integration' }}
    uses: ./.github/workflows/hil_test_linux.yml
    with:
      api-url: ${{ inputs.api-url }}
      api-key-id: ${{ inputs.api-key-id }}
      coap_gateway_url: ${{ inputs.coap_gateway_url }}
    secrets: inherit

  hil_sample_zephyr:
    if: ${{ inputs.workflow == 'all' || inputs.workflow == 'zephyr_sample' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - hil_board: esp32_devkitc_wrover
            west_board: esp32_devkitc_wrover/esp32/procpu
            manifest: .ci-west-zephyr.yml
            extra_twister_args: '--flash-before'
            binary_blob: hal_espressif
            run_tests: true

          - hil_board: mimxrt1024_evk
            west_board: mimxrt1024_evk
            manifest: .ci-west-zephyr.yml
            extra_twister_args: '--west-flash="--dev-id=${!SNR_VAR}"'
            run_tests: true

          - hil_board: nrf52840dk
            west_board: nrf52840dk/nrf52840
            manifest: .ci-west-zephyr.yml
            extra_twister_args: '--west-flash="--dev-id=${!SNR_VAR}"'
            run_tests: true

          - hil_board: nrf9160dk
            west_board: nrf9160dk/nrf9160/ns
            manifest: .ci-west-ncs.yml
            extra_twister_args: '--west-flash="--dev-id=${!SNR_VAR}"'
            run_tests: true

          - hil_board: rak5010
            west_board: rak5010/nrf52840
            manifest: .ci-west-zephyr.yml
            extra_twister_args: '--flash-before --west-flash=--gdb=/usr/bin/gdb --west-runner blackmagicprobe'
            run_tests: true

          - hil_board: qemu_x86
            west_board: qemu_x86
            manifest: .ci-west-zephyr.yml
            run_tests: false
    uses: ./.github/workflows/hil_sample_zephyr.yml
    with:
      hil_board: ${{ matrix.hil_board }}
      west_board: ${{ matrix.west_board }}
      manifest: ${{ matrix.manifest }}
      binary_blob: ${{ matrix.binary_blob }}
      run_tests: ${{ matrix.run_tests }}
      extra_twister_args: ${{ matrix.extra_twister_args }}
      api-url: ${{ inputs.api-url }}
      api-key-id: ${{ inputs.api-key-id }}
      coap_gateway_url: ${{ inputs.coap_gateway_url }}
    secrets: inherit

  hil_sample_zephyr_nsim:
    if: ${{ inputs.workflow == 'all' || inputs.workflow == 'zephyr_sample_native_sim' }}
    runs-on: ubuntu-latest
    container:
      image: golioth/golioth-zephyr-base:0.16.3-SDK-v0
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.16.3
    name: zephyr-${{ matrix.west_board }}-twister
    strategy:
      fail-fast: false
      matrix:
        include:
          - west_board: native_sim
            artifact_suffix: native_sim_32
          - west_board: native_sim/native/64
            artifact_suffix: native_sim_64
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          path: modules/lib/golioth-firmware-sdk
          submodules: 'recursive'

      - name: Init and update west
        run: |
          mkdir -p .west
          cat <<EOF > .west/config
          [manifest]
          path = modules/lib/golioth-firmware-sdk
          file = .ci-west-zephyr.yml
          EOF

          west update -o=--depth=1 -n
          git config --global user.email user@git-scm.com
          git config --global user.name "Git User"
          west patch

          pip3 install -r zephyr/scripts/requirements-base.txt
          pip3 install -r zephyr/scripts/requirements-build-test.txt
          pip3 install -r zephyr/scripts/requirements-run-test.txt

          pip3 install git+https://github.com/golioth/python-golioth-tools@v0.6.3

      - name: Run tests
        id: run_test
        run: |
          zephyr/scripts/twister                                                    \
              --platform ${{ matrix.west_board }}                                   \
              -T modules/lib/golioth-firmware-sdk/examples/zephyr                   \
              -C --coverage-basedir modules/lib/golioth-firmware-sdk                \
              -x=CONFIG_GOLIOTH_COAP_HOST_URI=\"${{ inputs.coap_gateway_url }}\"    \
              --pytest-args="--api-url=${{ inputs.api-url }}"                       \
              --pytest-args="--api-key=${{ secrets[inputs.api-key-id] }}"           \
              --pytest-args="--mask-secrets"

          # Default HTML coverage report is for Zephyr sources only, so drop it

          rm -rf twister-out/coverage
          mkdir -p twister-out/coverage

          # Generate coverage summary and format into markdown table

          coverage_summary=$(gcovr -r modules/lib/golioth-firmware-sdk  \
              --add-tracefile twister-out/coverage.json                 \
              --merge-mode-functions=separate                           \
              --txt-summary                                             \
              --html-details twister-out/coverage/index.html            \
              -e "modules/lib/golioth-firmware-sdk/examples/.*"         \
              -e "modules/lib/golioth-firmware-sdk/external/.*"         \
              | tail -n 3                                               \
              | sed -e 's/:/ | /g' -e 's/^/| /g' -e 's/$/ |/g')

          # Echo coverage summary into GitHub Output, with title

          echo "coverage_summary<<EOF" >> $GITHUB_OUTPUT
          echo "# Code Coverage (${{ matrix.west_board }})" >> $GITHUB_OUTPUT
          echo "| Type | Coverage |" >> $GITHUB_OUTPUT
          echo "| --- | --- |" >> $GITHUB_OUTPUT
          echo "$coverage_summary" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: twister-run-artifacts-${{ matrix.artifact_suffix }}
          path: |
            reports/*
            twister-out/coverage/*
            twister-out/**/*.log
            twister-out/**/report.xml
            twister-out/*.xml
            twister-out/*.json

      - name: Find Comment
        uses: peter-evans/find-comment@v3
        if: github.event_name == 'pull_request'
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Code Coverage (${{ matrix.west_board }})

      - name: Code coverage comment
        uses: peter-evans/create-or-update-comment@v4
        if: github.event_name == 'pull_request'
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.run_test.outputs.coverage_summary }}
          edit-mode: replace

  hil_sample_zephyr_nsim_coverage_report:
    if: always()
    name: "Coverage report for native_sim"
    needs:
      - hil_sample_zephyr_nsim
    uses: ./.github/workflows/coverage-report.yml
    with:
      needs_context: ${{ toJson(needs) }}

  hil_sample_esp-idf:
    if: ${{ inputs.workflow == 'all' || inputs.workflow == 'esp_idf_sample' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - hil_board: esp32s3_devkitc
            idf_target: esp32s3
          - hil_board: esp32_devkitc_wrover
            idf_target: esp32
          - hil_board: esp32c3_devkitm
            idf_target: esp32c3
    uses: ./.github/workflows/hil_sample_esp-idf.yml
    with:
      hil_board: ${{ matrix.hil_board }}
      idf_target: ${{ matrix.idf_target }}
      api-url: ${{ inputs.api-url }}
      api-key-id: ${{ inputs.api-key-id }}
      coap_gateway_url: ${{ inputs.coap_gateway_url }}
    secrets: inherit
