name: "Trigger: Push and Schedule"

on:
  push:
    branches:
      - main
      - test/ci-logs-latency
  pull_request:
  schedule:
    # Run workflow at the start of every day (12 AM UTC)
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: ./.github/workflows/test-comprehensive.yml
    secrets: inherit
