name: Twister build workflow

on:
  workflow_call:
    inputs:
      board:
        required: true
        type: string
      manifest:
        required: true
        type: string
      binary_blob:
        required: false
        type: string

jobs:
  twister_build:
    container:
      image: ghcr.io/beriberikix/golioth-zephyr-base:0.16.1sdk
    env:
      ZEPHYR_SDK_INSTALL_DIR: /opt/toolchains/zephyr-sdk-0.16.1
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        path: modules/lib/golioth-firmware-sdk
        submodules: 'recursive'
    - name: Init and update west
      run: |
        mkdir -p .west
        cat <<EOF > .west/config
        [manifest]
        path = modules/lib/golioth-firmware-sdk
        file = ${{ inputs.manifest }}
        EOF

        west update -o=--depth=1 -n
        west zephyr-export

    - name: Install Python requirements
      run: |
        echo "PWD LS"
        pwd
        ls
      pip3 install --break-system-packages -r deps/zephyr/scripts/requirements.txt

    - name: Download binary blobs
      if: ${{ inputs.binary_blob }}
      run: |
        west blobs fetch ${{ inputs.binary_blob }}

    - name: Run twister
      run: >
        zephyr/scripts/twister
        -b
        -p ${{ inputs.board }}
        -o reports
        -T modules/lib/golioth-firmware-sdk
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      if: ${{ always() }}
      with:
        name: twister-artifacts-${{ inputs.board }}
        path: |
          reports/*
          twister-out/**/build.log
